--- 
layout: default 
title: Portfolio
seo:
 title: Projects - LA. Web Development 
 description: create a stunning portfolio, landing page or custom-built website that growths with your business 
 social_image:
 twitter_card:
 twitter_description:
 keywords: portfolio websites freelance in Vladivostok
 hide-from-google: false
getButton: false
---

<!-- Header Intro Section --------------- -->
<section class="grid-bottom padded bg-cup bg-image tall-60 padded-b-1" >
    <div class="col- margin-b-15"> 
        <h1 class="margin-b-05 subtle-pop"> Portfolio </h1>
        <h1 class="text-big md-text-big uppercase">showcase<span class="text-featured">.</span> </h1> 
   
        <div class="col-" id="typed-strings"> 
            <span id="black"> <strong>Contact Me</strong> </span>
        </div> 
        <div style="min-height: 2rem;"> <span id="typed" class="margin-t-05"></span> </div>  
          
        </div>
</section>

<!-- Featured Project ------------- -->

<section class="padded bg-dark text-light sm-padded-1">
    <h2 class="center md-padded-t-1 sm-h2 xs-margin-t-2"> Featured Project<span class="text-featured">.</span> </h2>

    <div class="capped-width"> 
        <div class="slider-container">
    <!-- slide 1 -->
            <div class="slider-item"> 
                <div class="bg-image img-1 landscape-wide"></div>
            </div>
    <!-- slide 2 -->

    <!-- slide 3 -->
            <div class="slider-item"> 
                <div class="bg-image img-3 landscape-wide"></div>
            </div>
    <!-- slide 4 -->
            <div class="slider-item"> 
                <div class="bg-image img-4 landscape-wide"></div>
            </div>

        </div>
    </div>
    
        <div class="capped-width"> 
    {% for project in site.projects limit:1 %}
        <div class="grid-spaceBetween">
            <div class="col-5_md-10_sm-12 padded-1 margin-t-1 "> 
                <h3> {{project.title}} </h3>
                <p class="emphasis subtle"> {{project.description}} </p>
            </div>
            <div class="col-4_md-12-bottom padded-1 margin-t-1"> 
                <p > Design & Build by: <span class="emphasis">  {{project.design-by}} </span> </p>
                <a href="{{project.live_url}}" class="button-red" target="_blank"> View Live Site </a>
            </div>
        </div>
    {% endfor %}
    </div>
</section>

<!-- My Projects ------------------------------>

<section class="grid padded md-margin-t-1 md-padded-b-0 sm-padded-1">
    <div class="col-9_sm-12 light-text padded-b padded-t-1 sm-padded-1 sm-margin-b-1">
        <h3> If you have a design of your own, let's create it together! </h3>
        <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Modi neque distinctio, illum dolore fugit autem totam molestias labore, voluptatem provident quaerat vel eum repellat ducimus! Laboriosam nemo illo illum suscipit!</p>
    </div>


{% for project in site.projects limit:5 offset:1 %}
    <div class="col-7_md-12-middle margin-b-2">
        <div class="bg-image landscape-wide lazy" style="background-image: url('{{project.featured_image}}'); background-position: {{ project.background-position }};"> </div>
    </div>
    <div class="col-5_md-12-middle padded-2 md-margin-b-2 sm-padded-1">
        <h3> {{project.title}}<span class="text-featured">.</span> </h3>
        <p class="emphasis"> {{project.description}} </p>
        <p class="emphasis"> Created by: {{project.design-by}} </p>
        <!-- <p class="emphasis"> Build by: {{project.build-by}} </p> -->
        <a href="{{project.live_url}}" class="button" target="_blank"> View Live Site </a>
    </div>
{% endfor %}
</section> 

