* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
html{ 
  scroll-behavior: smooth;
  transition: all 0.4s;
}

img { max-width: 100%; height: auto;}

/* Override default gridlex padding */ 
[class*=col] { padding: 0; }
[class*=grid] { margin: 0; }

section { position: relative; }

/* NOTES
- font:
'Maven Pro', sans-serif; 400,500,600
'Noto Sans Display', sans-serif;
- colors
light #dedacf - grey 
feartured #95b1a2
dark #3f564b
*/

/* temporary styles */
/* * {
    padding: 0.5rem;
    border: 1px solid rgb(220,220,220);
} */
/* html,
body {
    border: none;
} */
/* h1, h2, h3, h4, h5, h6, p, a {border: 1px solid rgb(210, 152, 145);} */
/* .bg-image {background-color: rgb(224, 188, 127);} */
/* End temporary styles */

/* Re-usable Utiity Classes  */
.tall-45 { min-height: 45vh; }
.tall-50 { min-height: 50vh; }
.tall-51 { min-height: 50vh;}
.tall-60 { min-height: 60vh; }
.tall-70 { min-height: 70vh; }
.tall-80 { min-height: 80vh; }
.tall-85 { min-height: 85vh; }
.tall-90 { min-height: 90vh; }
.tall-100 { min-height: 100vh; }

.left   { text-align: left; }
.center { text-align: center; }
.right  { text-align: right; }
.justify {text-align: justify;}

/* Padding Utility Classes -------*/
.padded-sm { padding: 2.5%; }
.padded-0 {padding: 0;}
.padded    { padding: 5%;   }
.padded-1  { padding: 1rem; }
.padded-05 { padding: 0.5rem; }
.padded-2  { padding: 2rem; }
.padded-lg { padding: 7%;}

.padded-1,
.grid.padded-1 { padding: 1rem; } 

.padded-r-0 {padding-right: 0;}
.padded-r-03 {padding-right: 0.3rem;}
.padded-r  { padding-right: 5%; }

.padded-l-0 {padding-left: 0;}
.padded-l  { padding-left: 5%;  }

.padded-b-0 {padding-bottom: 0;}
.padded-b  { padding-bottom: 5%;}
.padded-b-1 {padding-bottom: 1rem;}
.padded-b-2 {padding-bottom: 2rem;}
.padded-b-lg {padding-bottom: 7%;}

.padded-t-0 {padding-top: 0;}
.padded-t-1 {padding-top: 1rem;}
.padded-t-2 { padding-top: 2rem; }

.padded-t-b {
    padding-top: 1rem;
    padding-bottom: 1rem;
}
.padded-l-r-05 {
    padding-left: 0.5rem;
    padding-right: 0.5rem;
}

.margin-b-0 { margin-bottom: 0; }
.margin-b-05 { margin-bottom: 0.5rem; }
.margin-b-1 { margin-bottom: 1rem;}
.margin-b-15 { margin-bottom: 1.5rem;}
.margin-b-2 { margin-bottom: 2rem;}
.margin-t-05 { margin-top: 0.5rem; }
.margin-t-1 {margin-top: 1rem;}
.margin-t-15 {margin-top: 1.5rem;}
.margin-t-2 {margin-top: 2rem;}

/* Aspect Ratios */
.landscape-wide { padding-bottom: 56%;}
.landscape     { padding-bottom: 66%;  }
.portrait-tall { padding-bottom: 175%; }
.portrait      { padding-bottom: 125%; }
.square        { padding-bottom: 100%; }

/* Background Colors--------- */
.bg-light    { background-color: #f8f8f8; }
.bg-featured { background-color: #e24848; }
.bg-dark      {background-color: #232323; }
.border-white { border: 1rem solid white;}

.text-featured { color: #e24848;} 
.text-light {color: #f8f8f8;}
.text-dark {color: #232323;}
.text-big {font-size: 3.5rem;}

.font-light {font-weight: light;}

/* ------ Base Typography ------- */
body {
  font-family: 'Noto Sans Display', sans-serif;
  font-weight: 300;
  color: #232323;
}

h1, h2, h4, h5, h6 {
  margin-bottom: 1rem;
}

h1 { font-size: 2.8rem;}
h2 { 
  font-size: 2.5rem; 
  line-height: 1.5;
}
h3 {
  font-size: 1.5rem;
  margin-bottom: 0.7rem;
}

p {  
  line-height: 1.5;
  margin-bottom: 0.8rem;
  font-size: 1rem;
}
p:last-child {
 margin-bottom: 0;
}
h1:last-child, 
h2:last-child,
h4:last-child,
h5:last-child,
h6:last-child {
  margin-bottom: 0;
}

a {
  display: inline-block;
  text-decoration: none;
  color: inherit;
  transition: all 0.2s;
}

nav a {
  padding: 0.25rem;
  transition: all 0.2s;
}
nav a:hover { color: #e24848;}

.subtle { 
  opacity: 0.8;
} 
.uppercase { text-transform: uppercase;}

.capped-width {
  max-width: 1000px;
  margin: auto;
}

.copyright {
  font-size: 0.8rem;
  font-style: italic;
  }

/* Icons------------------------------------- */

.la-logo {
  width: 16rem;
  margin: 0rem;;
}

/* Footer & Header ------------------------- */

header { padding: 2% 2%;}
footer p {
  color: #f8f8f8;
  opacity: 0.8;
  font-size: 1.1rem;
}
footer a:hover { color:#e24848;}
.t-hover:hover {
    color: #e24848;
}

/* Buttons ---------------*/
.button {
  text-decoration: none;
  border: 2px solid; 
  padding: 0.5rem 1rem;
  display: inline-block;
  font-weight: 400;
  font-size: 0.9rem;
  color: black;
  background-color:  #f8f8f8;
  margin-top: 0.8rem;
}
.button:hover {
  background-color: #e24848;
}

/* ------- Social Links - Class ------------ */
.fa-brands, .fa-solid {
  font-size: 1rem;
  margin-right: 0.2rem;
}
.fa-brands:hover {
  color: #e24848;
}
.fa-solid:hover {
  color: #e24848;
}
.fa-brands:first-child {padding-left: 0%;}


.social-share a {
  padding: 0.25rem 0.5rem;
}

/* Icon Grid Section */
.icon-section img {
  max-width: 3rem;
  opacity: 0.8;
  margin: 1rem 0;
  }

/*-- Background Images --------------------------------*/

.bg-image {
  background-color: #f8f8f8; 
  background-size: cover; 
  background-position: center; 
  background-repeat: no-repeat;
  background-image: url('/images/bg-light.jpg');
}
.bg-grey { 
  background-image: url('/images/hands.jpg');
}
.bg-plant { 
  background-image: url('/images/plant-2.jpg');
  background-position: 50% 50%;
}
.bg-cup { 
  background-image: url('/images/cup.jpg');
  background-position: 50% 50%;
}


hr.short {
  width: 4rem;
  margin: 2rem 0;
}

.gallery [class*="col-"] { padding: 0.5%;}


/* -----------------Overlay Effect ------------------- */
.bg-overlay {
  position: relative;
}

.bg-overlay::before {
  content: ""; 
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background-color: rgb(0,0,0,0.2);
}

.bg-overlay > * {
  position: relative;
}


/* Contacts ----------------------------------- */

input, textarea {
    border-style: solid;
    border: 1px solid rgb(200, 200, 205);
    padding: 0.5rem 0.8rem;
    display: block;
    width: 100%;
    font-size: 1rem;
    vertical-align: top;
  }
  
  input:focus,
  textarea:focus {
    outline: none;
    border: 1px solid #e24848;
    /* featured color */
  }
  
  textarea {
    min-height: 7em;
    resize: vertical;
  }
  
  input[type="submit"] {
    width: 100px;
    display: block;
    padding: 0.5rem 0.8rem;
  }
  
  form [class*=col-] {
    padding: 5px;
  }
  
  .email-signup input {
    width: 30%;
    display: inline-block;
    max-width: 250px;
    margin-top:1rem;
  }
  
  .email-signup .button-solid {
    padding: 0.8em;
    border-radius: 0;
    font-size: 1rem;
  }
  form .button {
    width:100%;
  }

/* Typing Animation------- */

#typed {
	color: #e24848;
  font-size: 1.3rem;
  font-weight: bold;
} 
#black {color: black;}
.typed-cursor {
  font-size: 1.5rem;
  margin-top: 0.5rem;
}
.invisible { 
  opacity: 0;
  font-size: 1.3rem;
  font-weight: bold;
}








/* General CSS Responsive Styles ---------------------------- */
.show-xs, 
.show-sm,
.show-md {
    display: none;
} 


  
    @media(max-width:768px) {
     .email-signup input {
       width: 100%;
       max-width: 100%;
     }
   }