
<!-- Add jQuery (all the other JS script tags go below) -->

    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.3/jquery.min.js" integrity="sha512-STof4xm1wgkfm7heWqFJVn58Hm3EtS31XFaagaa8VMReCXAkQnJZ+jEy8PCC/iT18dFy95WcExNHFTqLyp72eQ==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>

<!-- Slider   -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.8.1/slick.js" integrity="sha512-WNZwVebQjhSxEzwbettGuQgWxbpYdoLf7mH+25A7sfQbbxKeS5SQ9QBf97zOY4nOlwtksgDA/czSTmfj4DUEiQ==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>

<!-- Animate on Scroll  -->
    <script src="https://unpkg.com/aos@2.3.1/dist/aos.js"></script>

<!-- Lightgallery for pop-ups  -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/lightgallery/2.1.8/lightgallery.min.js"></script>

<!-- GetButton.io widget -->

{% if page.getButton == true %}
    <script type="text/javascript">
        (function () {
            var options = {
                email: "sveta-ugnivenko@mail.ru", // Email
                whatsapp: "8615601634272", // WhatsApp number
                call_to_action: "Message us", // Call to action
                button_color: "#A8CE50", // Color of button
                position: "right", // Position may be 'right' or 'left'
                order: "email,whatsapp", // Order of buttons
                pre_filled_message: "Hello, I am messaging from your website...", // WhatsApp pre-filled message
            };
            var proto = 'https:', host = "getbutton.io", url = proto + '//static.' + host;
            var s = document.createElement('script'); s.type = 'text/javascript'; s.async = true; s.src = url + '/widget-send-button/js/init.js';
            s.onload = function () { WhWidgetSendButton.init(host, proto, options); };
            var x = document.getElementsByTagName('script')[0]; x.parentNode.insertBefore(s, x);
        })();
    </script>
{% endif %}

<!-- Typing Animation ----------->
    <script src="https://cdn.jsdelivr.net/npm/typed.js@2.0.12"></script>

<!-- Carousel JS Project ------->
    <script src="/carousel.js"></script> 
    
<!-- Lazy Load ----->
    <script src="/main.js"></script> 

<!-- our Customed JavaScript file (all the other JS go above) -->
    <script src="/scripts.js"></script>