 <!------ Footer ------------------------------------->
 <footer class="grid-spaceBetween bg-dark padded-b-1 tall-50 sm-text-center" id="contact"> 

    <div class="col-6_sm-12-middle padded sm-padded-b-1">
        <h1 class="logo text-featured subtle"> Let's Connect </h1>

        <p><i class="fa-solid fa-phone"></i> <a href="tel:+7984-152-8280" class="t-hover"> +7984-152-8280</a></p>
        <p><i class="fa-solid fa-at"></i> <a href="mailto:svetaugnivenko@gmail.com" class="t-hover"> svetaugnivenko@gmail.com</a></p>
        <p> <i class="fa-brands fa-weixin"></i> lana040493 </p>
        <p> <i class="fa-brands fa-whatsapp"></i> <a href="https://wa.me/89841528280" class="t-hover"> WhatsApp </a></p>
    </div>

    <div class="col-6_sm-12-bottom center padded sm-padded-b-1">
        <h3 class="padded-b-0"> Contact Me </h3>

        <form class="grid-spaceBetween center"
        action="https://formsubmit.co/svetaugnivenko@gmail.com" 
        method="POST">
            <div class="col-6 padded-r-03">
                <input type="text" name="name" placeholder="Your Name" >
            </div>
            <div class="col-6">
                <input type="email" name="_replyto" placeholder="Your Email">
            </div>
            <div class="col-12">
                <textarea placeholder="Your Message" rows="4"></textarea>
            </div>
            <div class="col-12 center"> 
                <input type="submit" value="Send" class="button-form button-width center">
             </div>
        </form>
    </div>


    <div class="col-12-bottom padded-1 center ">
        <p class="copyright"> Copyright 2023 </p>
    </div>
</footer>

