<div class="social-share center margin-t"></div>
    <nav>

        <a href="https://facebook.com/sharer.php?u={{ site.url }}{{ page.url }}" rel="nofollow" target="_blank" title="Share on Facebook">
            <i class="fab fa-facebook-f"></i>
        </a>
        <a href="http://pinterest.com/pin/create/link/?url={{page.url}}&description={{page.title}}" rel="nofollow" target="_blank" title="Share on Pinterest">
            <i class="fa-brands fa-weixin"></i>
        </a>
        <a href="https://wa.me/89841528280"> <i class="fa-brands fa-whatsapp"></i> </a>

    </nav>
</div>